.signup {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.signupTop h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  width: 320px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.signupForm a {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.signupDisplay {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signupInput {
  position: relative;
  width: 100%;
}

.signupInput p {
  font-size: 14px;
  text-align: left;
  font-weight: 800;
  line-height: 14px;
}

.signupInput input {
  width: 320px;
}
