@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&family=Inter:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #6D28D9;
}

h1 {
    font-family: 'Familjen Grotesk', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

button {
    font-family: 'Inter', sans-serif;
    background-color: #6D28D9;
    border-radius: 6px;
    padding: 8px 32px;
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

input {
    border: 1px solid #D4D4D4;
    border-radius: 6px;
    padding: 8px 12px;
}