.accounts {
    height: 100vh;
}

.accountsTop {
    font-weight: 700;
    line-height: 32px;
}

.accountsForm {
    display: flex;
    flex-direction: column;
    gap: 82px;
    width: 1024px;
    height: 658px;
    margin: 0 auto;
    padding: 64px 0;
}

.accountsDisplay {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin: 0 auto;
    width: 320px;
}

.accountsInput input {
    width: 320px;
}

.delete {
    background-color: #FEF2F2;
    border: 1px solid #DC2626;
    color: black;
}