.login {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.loginDisplay {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
}

.loginInput input {
    width: 100%;
    padding: 0
}